<div class="bg-white px-4 py-3 flex items-center border-t border-gray-200 sm:px-6">
  <div class="flex-1 flex justify-start">
    <%= for button <- @buttons do %>
    <button class="<%= button.class %>">
      <span><%= button.action %></span>
    </button>
    <% end %>
  </div>
</div>
